[Desktop Entry]
    Type=Application
    Name=cuteframe
    Exec=sh -c "/home/frame/cuteframe/venv/bin/python3 -u /home/frame/cuteframe/cuteframe.py > /home/frame/cuteframe/app.log"
