[Unit]
Description=cuteframe bot
After=network-online.target
Wants=network-online.target

[Service]
WorkingDirectory=/home/frame/cuteframe
Restart=on-failure
ExecStart=/home/frame/cuteframe/venv/bin/python3 /home/frame/cuteframe/cuteframe.py

[Install]
WantedBy=multi-user.target
